@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
*{
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F7F3F0;
}
/**********/
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.title{
    display: flex;/*tratamos el elemento como elemento en bloque*/
    align-items: center;
    justify-content: center;/*centrar horizontalmente texto con flex*/
    margin: 1vh;
    padding: 1vh 12vw;
    font-size: calc(4vw+ 1vh);
    height: 10vh;
    color: #171716;
    text-transform: uppercase;/*Convierte todas las letras en mayuscula*/
    transition: 0.1s;
}
header .nav1 {
    width: 0; /*elminar el tamaño del nav*/
}
header .nav li{
    position: relative;
    right: 10vw;
}
.fa-user{ /*icon usuario*/
    font-size: 2vw;
}
ul, ol{
    list-style: none; /*borra lo signos de la lista*/
}

.nav li a{
    width: 4vw;
    height: 4vw;
    background-color: #AF98C4;
    border-radius: 50%;
    color: #F8F4F1;
    text-decoration: none;/*elimina el subrayado*/
    display: flex;/*tratamos el elemento como elemento en bloque*/
    align-items: center;
    justify-content: center;/*centrar horizontalmente texto con flex*/
}
.nav li a:hover{/*cambial el color al pasar el mouse*/
    background-color: #C4A3C1;
}
.nav>li{
    float: left;/*pega el elemento a la derecha*/
}
.nav li ul{
    display: none; /*desaparece el menu*/
    position: absolute;
}
.nav li ul li a{
    display: block;
    border-radius: 10px;
    background-color: #AF98C4;
    font-size: 1vw;
    width: calc(8vw + 2vh);
    height: calc(2vw + 0.8vh);
    position: relative;
    text-align: center;
    padding: 0.5vw 0;
    margin: 0.1vw;
}
.nav li:hover>ul{/*posicionar el sub-menu y hacer que aparezca */
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 15vw;
    bottom: -0.6vw;
}
hr{
    height: 1px;
    width: 76%;
    background-color: black;
    border: none;
    margin-left: 12%;
    margin-right: 12%;
}
.flex-container{
    display: flex;
    justify-content: center;/*alinea en el centro horizontalmente */
    margin: 1vw 0;
}
.flex-container ul{
    display: flex;
}
.flex-container ul li a{
    letter-spacing: 0.6px;
    transition: 0.7s;
    padding: 0vh 1.5vw;
    font-size: 1.6vw;
    text-decoration: none;
    color: #171716;
}
/************/
.h1{
    background-color: #AF98C4;
}
.h2{
    background-color: #AF98C4;
}
.article{
    background-color: #C4A3C1;
}
/************/
footer{
    max-height: 1000px;
}
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #AF98C4;
    padding: 1vh;
    width: 100%;
}
.footerIcons{
    display: flex;
}
.footerSubIcons{
    display: flex;
    margin: 0.5vh 1vw;
    font-size: 2.6vw;
}
